@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


ul{
    list-style-type: none;
    background-color: white;
    width: 100%;
    margin: auto; 
    font-family: 'Lato', sans-serif;
    box-shadow: 1px 1px 20px 5px #708090;  
}

button{
    border: none;
    display: none;
    background-color: white;
    justify-content: right;
    padding-right: 20px;
    font-weight: bold; 
}

body{
   background-color: lightgray;   
}

.item{
    height: 75px;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    align-items: center;
    font-family: 'Lato', sans-serif;
    border-style: solid;
    border-width: thin;
    border-color: gray;
    border-top: none;
    margin-left: -39px;
    padding-left: 10px;
    border-left: none;
    border-right: none;  
}

.itemsLeft{
    height: 30px;
    width: 100%;
    display: flex;
    font-family: 'Lato', sans-serif;
    border-style: solid;
    border-width: thin;
    border-color: gray;
    border-top: none;
    align-items: left;
    margin-left: -39px;
    padding-left: 10px;
    border-bottom: none;
    border-left: none;
    border-right: none;   
}

input{
    width: 100%;
    height: 75px;
    font-size: x-large;
    font-family: 'Lato', sans-serif;
    border-color: gray;
    border-width: thin;
    padding-left: 10px;
    border-top: none;
    border-right: none;
    border-left: none;  
}

.buttonAppear:hover button {
    border: none;
    display: block; 
}

h1{
    font-family: 'Lato', sans-serif;
    font-size: 100px;
}

.boxShadow{
    box-shadow: 1px 1px 20px 5px #708090;
    width: 35%;
    height: 75px;
    margin: auto;
}